
<?js
    var data = obj;
    var self = this;
    console.log(self);
?>

<table class="params">
    <thead>
        <tr>
            <th>Type</th>
            <th>Description</th>
        </tr>
    </thead>
    <tbody>
        <?js data.forEach(function(r) { ?>
            <tr>
            <td>
                <?js if(r && r.type && r.type.names) { ?>
                    <?js= self.partial('type.tmpl', r.type.names) ?>
                <?js } ?>
            </td>
            <td><?js= r && r.description ?></td>
            </tr>
        <?js }) ?>

    </tbody>
</table>
